$white: #ffffff;
$font-secondary: "Barlow Condensed", sans-serif;

body {
  overflow-x: hidden;
}

.header {
  background-color: transparent;
}

.nav-container {
  list-style: none;
  position: relative;
  margin-top: 40px;
  padding: 0;
}

.nav-text {
  font-family: $font-secondary;
  font-size: 1rem;
  letter-spacing: 2.7px;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  &.active::before,
  &::before {
    content: "";
    background-color: #fff;
    position: absolute;
    transition: 0.3s all;
  }
  &::before {
    width: 0;
  }
  &:hover {
    color: $white;
  }
}

.nav-item {
  padding: 17.5px 80px 17.5px 32px;
}

.logo,
.nav-toggle {
  margin-top: 35px;
  padding-right: 0;
}
.bold {
  font-weight: bolder;
}

//Navbar button
.nav-toggle span {
  display: block;
  background: #d0d6f9;
  height: 2px;
  width: 1.55em;
  transition: 0.3s all ease-in-out;
}
.bar1 {
  top: 7px;
}
.bar2 {
  top: 14px;
  left: 12px;
  opacity: 1;
}
.bar3 {
  top: 21px;
}

.nav-toggle.active {
  & .bar1,
  .bar3 {
    top: 14px;
    left: 3px;
  }
  & .bar1 {
    transform: rotate(-45deg);
  }
  & .bar3 {
    transform: rotate(45deg);
  }
  & .bar2 {
    opacity: 0;
    left: -10px;
  }
}

#navToggle {
  position: relative;
  z-index: 3;
}

@media screen and (min-width: 48em) {
  .nav-container {
    margin-top: 0;
    display: flex;
    background-color: #0b0d17;
  }
  .logo {
    margin-top: 15px;
  }

  .nav-item {
    padding: 35px 15px;
    &:hover .nav-text::before {
      width: 100%;
    }
  }
  .nav-text {
    &.active::before,
    &::before {
      bottom: -40px;
      height: 3px;
      width: 100%;
    }
    &::before {
      width: 0;
    }
  }

  .nav-toggle {
    display: none;
  }
}

@media screen and (min-width: 62em) {
  .nav-container {
    padding-left: 10.5%;
    margin-top: 40px;
    background-color: rgba($color: black, $alpha: 0.95);
    &::before {
      content: "";
      width: 55%;
      position: absolute;
      left: -51%;
      top: 50%;
      height: 1px;
      background-color: #fff;
      opacity: 25.15%;
    }
  }
  @supports (backdrop-filter: blur(1.5rem)) {
    .nav-container {
      backdrop-filter: blur(1.5rem);
      background-color: rgba($color: $white, $alpha: 0.04);
    }
  }
  .nav-item {
    padding: 35px 3%;
  }
}

@media screen and (max-width: 47.999rem) {
  .nav-list {
    width: 66.7%;
    max-width: 21.875rem;
    overflow: auto;
    height: 100vh;
    position: absolute;
    background-color: rgba($color: black, $alpha: 0.95);
    right: 0;
    padding-top: 100px;
    transition: 0.3s all;
    opacity: 1;
  }
  .hidden {
    width: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
    opacity: 0;
  }
  @supports (backdrop-filter: blur(1.5rem)) {
    .nav-list {
      backdrop-filter: blur(1.5rem);
      background-color: rgba($color: white, $alpha: 0.04);
    }
  }
  .nav-item {
    &::before {
      content: "";
      height: 0;
      background-color: #fff;
      position: absolute;
      transition: 0.3s all;
      right: 0px;
      width: 4px;
    }
    &.active::before {
      height: 31px;
    }
    &:hover::before {
      height: 31px;
    }
  }
}
.nav-text {
  white-space: nowrap;
}
