@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap");
$bg-primary: #0b0d17;
$text-primary: #d0d6f9;
$white: #ffffff;
$font-secondary: "Barlow Condensed", sans-serif;

body {
  font-family: "Bellefair", serif;
  color: $white;
}
.heading {
  &-1 {
    font-size: 5rem;
  }
  &-2 {
    font-size: 6.25rem;
  }
  &-3 {
    font-size: 3.5rem;
  }
  &-4 {
    font-size: 2rem;
  }
  &-5-condensed {
    font-family: $font-secondary;
    font-size: 1rem;
    letter-spacing: 4.75px;
    color: $text-primary;
  }
}

.sub-heading {
  &-1 {
    font-size: 1.75rem;
  }
  &-2 {
    font-family: $font-secondary;
    font-size: 0.875rem;
    letter-spacing: 2.35px;
  }
}

.body-text {
  font-family: $font-secondary;
  font-size: 0.9375rem;
  color: $text-primary;
}

.bg-primary {
  background-color: $bg-primary;
}
.color-primary {
  color: $text-primary;
}

@media screen and (min-width: 62rem) {
  .heading {
    &-1 {
      font-size: 9.375rem;
    }
    &-2 {
      font-size: 6.25rem;
    }
    &-3 {
      font-size: 3.5rem;
    }
    &-4 {
      font-size: 2rem;
    }
    &-5-condensed {
      font-size: 1.75rem;
    }
  }

  .sub-heading {
    &-1 {
      font-size: 1.75rem;
    }
    &-2 {
      font-size: 0.875rem;
    }
  }

  .body-text {
    font-size: 1.125rem;
  }
}

.cursor-pointer {
  cursor: pointer;
}
