@use "./tabs-style";
.main-section {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background: center / cover no-repeat
    url("../assets/images/technology/background-technology-mobile.jpg");
}
[outlines="1"] * {
  outline: 1px dashed;
}
.nav-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba($color: white, $alpha: 0.25);
  margin-right: 15px;
  cursor: pointer;
}
.active-dot {
  background-color: white;
  color: black;
}
.heading-4 {
  font-size: 0.875rem;
}

@media screen and (min-width: 48em) {
  .main-section {
    background-image: url("../assets/images/technology/background-technology-tablet.jpg");
  }
}
@media screen and (min-width: 62em) {
  .main-section {
    background-image: url("../assets/images/technology/background-technology-desktop.jpg");
  }
  .nav-circle {
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
  }
  .heading-4 {
    font-size: 1rem;
  }
  .mw-50 {
    max-width: 75%;
  }
}
@media screen and (min-width: 75em) {
  .nav-circle {
    width: 80px;
    height: 80px;
    font-size: 2rem;
  }
}
.body-text {
  line-height: 2rem;
}
